<h1>Modifier l'image</h1>
<img src="{{ gallery.image }}" width="200"><br><br>
<form method="post" enctype="multipart/form-data">
  <input type="file" name="image"><br><br>
  <button type="submit">Modifier</button>
</form>
